.container {
  display: flex;
}



.socialMobile {
  display: none;
}

.navMobile {
  display: none;
}

.left {
  width: 50%;
  height: 100vh;
  background-image: radial-gradient(rgba(0, 0, 0, 0.085) 1.5px, transparent 0);
  background-size: 40px 40px;
}

.right {
  width: 50%;
  height: 100vh;
  background: #374151;
  background-image: radial-gradient(rgba(252, 252, 252, 0.085) 1.5px, transparent 0);
  background-size: 40px 40px;
}

.leftContainer {
  /* background: red; */
  height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
}

.rightContainer {
  /* background: red; */
  height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
}

.logo,
.nav {
  height: 10%;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
}

.navItems {
  padding-top: 33px;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.navItems a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffff;
  padding: 10px;
}

.navItems a:hover {
  /* background: #37BE43; */
  border-radius: 6px;
  color: #37BE43;
}



.caption,
.animation {
  /* background: rgb(25, 74, 220); */
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.caption h1 {
  font-style: normal;
  font-weight: 200;
  font-size: 56px;
  line-height: 68px;
  /* or 117% */
  color: #374151;
  margin-bottom: 33px;
}



.social,
.footer {
  display: flex;
  height: 10%;
  width: 100%;
}

.social {
  display: flex;
  width: 110px;
  justify-content: space-between;
}

.footer {
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */


  color: #888F99;
}

.logo img {
  width: 241px;
  padding-top: 25px;
}

.caption a {
  text-decoration: none;
  border: 2px solid #37BE43;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 223px;
  color: #37BE43;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border-radius: 8px;
  text-justify: distribute;
}

.caption a:hover {
  color: #374151;
  background: #37BE43;
}

.socialIcon {
  width: 50px;
  height: 50px;
  /* background: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .right{
    display: none;
  }
  .left {
    width: 100%;
  }
  .logo {
    justify-content: center;
    display: flex;
  }
  .caption {
    align-items: center;
  }
  .caption h1 {
    text-align: center;
  }
  .social {
    width: 100%;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .caption h1 {
    font-size: 36px;
  }

  .caption a {
    font-size: 16px;
    width: 200px;
  }

  .leftContainer {
    margin: 0;
  }

  .social {display: none;}

  .navMobile {
    display: flex;
    height: 10%;
    align-items: center;
  }

  .navMobileItems {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
  }

  .navMobileItem {
    border-right: 2px solid #37BE43 ;
    padding-right: 5px;
  }

  .socialMobile {
    display: flex !important;
    /* border: none; */
  }

  .socialMobile a {
    /* display: flex !important; */
    border: none;
    padding-top: 60px;
  }

  .followUs {
    padding-top: 33px;
    font-size: 18px;
  }
}